# DJANGO MAS JUPYTER NOTEBOOK

TESTING ENDPOINT

In [26]:
import pandas as pd
import requests
import json
import random
from django_for_jupyter import init_django

In [27]:
init_django('django_project')

In [28]:
from rest_application.models import Profile
Profile.objects.all()

<QuerySet [<Profile: Agustin Stigliano, (132456)>, <Profile: Agustin2 Stigliano2, (1a32456)>, <Profile: Agustin3 Stigliano3, (123.456.789)>, <Profile: Agustin4 Stigliano4, (123.456.79)>, <Profile: John Doe, (asd)>, <Profile: Federico Bordo, (52452845)>, <Profile: Federico Bordo, (512345)>, <Profile: Juan Gris, (44455566)>, <Profile: Agustin Gris, (44655566)>, <Profile: Federico Bordo, (51242345)>, <Profile: Federico Bordo, (11111111)>, <Profile: Federico Gris, (10)>, <Profile: Federico Gris, (851)>, <Profile: Federico Gris, (263)>, <Profile: Federico Bordo, (35222666)>, <Profile: Federico Gris, (409)>, <Profile: Federico Gris, (105)>]>

In [29]:
def get_pandas_profiles(model):
    data = model.objects.all().values()
    df = pd.DataFrame(data)
    return df

In [30]:
get_pandas_profiles(Profile)

,personal_id,name,last_name,age,profile_image
0,132456,Agustin,Stigliano,10,profile/profile_image/pyscript-what-is-it-600x...
1,1a32456,Agustin2,Stigliano2,10,
2,123.456.789,Agustin3,Stigliano3,10,
3,123.456.79,Agustin4,Stigliano4,10,
4,asd,John,Doe,10,
5,52452845,Federico,Bordo,22,
6,512345,Federico,Bordo,22,
7,44455566,Juan,Gris,22,
8,44655566,Agustin,Gris,22,
9,51242345,Federico,Bordo,22,
10,11111111,Federico,Bordo,22,
11,10,Federico,Gris,22,
12,851,Federico,Gris,22,
13,263,Federico,Gris,22,
14,35222666,Federico,Bordo,22,
15,409,Federico,Gris,22,
16,105,Federico,Gris,22,

In [31]:
res = requests.get('http://google.com')

In [32]:
dir(res)[-24:]

['apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

# PRIMER TEST: api/v1/profiles/

Metodo GET: <br />
    - Test 1 | Sin query_params: Devuelve todos los perfiles<br />
    - Test 2 | Con query_params: Devuelve los perfiles que cumplan con los query_params<br />
    - Test 3 | Con query_params que no existen: Devuelve un error 404<br />
    - Test 4 | Con query_params que no son validos: Devuelve un error 400<br />
<br />
Metodo POST: <br />
    - Test 1 | Con data: Devuelve el perfil creado<br />
    - Test 2 | Sin data: Devuelve un error 400<br />
    - Test 3 | Con data que no es valida: Devuelve un error 400<br />

In [33]:
# test 1 GET: sin query_params

response = requests.request(method='GET', url='http://localhost:8000/api/v1/profiles/')

print (response.content)
print ('longitud:', len(json.loads(response.content)))

b'[{"personal_id":"132456","name":"Agustin","last_name":"Stigliano","age":10,"profile_image":"/media/profile/profile_image/pyscript-what-is-it-600x450.jpg"},{"personal_id":"1a32456","name":"Agustin2","last_name":"Stigliano2","age":10,"profile_image":null},{"personal_id":"123.456.789","name":"Agustin3","last_name":"Stigliano3","age":10,"profile_image":null},{"personal_id":"123.456.79","name":"Agustin4","last_name":"Stigliano4","age":10,"profile_image":null},{"personal_id":"asd","name":"John","last_name":"Doe","age":10,"profile_image":null},{"personal_id":"52452845","name":"Federico","last_name":"Bordo","age":22,"profile_image":null},{"personal_id":"512345","name":"Federico","last_name":"Bordo","age":22,"profile_image":null},{"personal_id":"44455566","name":"Juan","last_name":"Gris","age":22,"profile_image":null},{"personal_id":"44655566","name":"Agustin","last_name":"Gris","age":22,"profile_image":null},{"personal_id":"51242345","name":"Federico","last_name":"Bordo","age":22,"profile_image":null},{"personal_id":"11111111","name":"Federico","last_name":"Bordo","age":22,"profile_image":null},{"personal_id":"10","name":"Federico","last_name":"Gris","age":22,"profile_image":null},{"personal_id":"851","name":"Federico","last_name":"Gris","age":22,"profile_image":null},{"personal_id":"263","name":"Federico","last_name":"Gris","age":22,"profile_image":null},{"personal_id":"35222666","name":"Federico","last_name":"Bordo","age":22,"profile_image":null},{"personal_id":"409","name":"Federico","last_name":"Gris","age":22,"profile_image":null},{"personal_id":"105","name":"Federico","last_name":"Gris","age":22,"profile_image":null}]'
longitud: 17

In [34]:
# test 2 GET: con query_params válidos
name = 'Agustin'
last_name = ''
age = ''

url = 'http://localhost:8000/api/v1/profiles/'
query = f'?name={name}&last_name={last_name}&age={age}'

response = requests.request(method='GET', url=url+query)

print ('status_code:', response.status_code)
print ('content:\n', json.loads(response.content))

status_code: 200
content:
 [{'personal_id': '132456', 'name': 'Agustin', 'last_name': 'Stigliano', 'age': 10, 'profile_image': '/media/profile/profile_image/pyscript-what-is-it-600x450.jpg'}, {'personal_id': '44655566', 'name': 'Agustin', 'last_name': 'Gris', 'age': 22, 'profile_image': None}]

In [35]:
# test 3 GET: con query_params inexistentes

name = ''
last_name = ''
age = '1'

url = 'http://localhost:8000/api/v1/profiles/'
query = f'?name={name}&last_name={last_name}&age={age}'

response = requests.request(method='GET', url=url+query)

try:
    data = json.loads(response.content)
    print ('status_code:', response.status_code)
    print ('content:\n', response.content)
    print ('longitud:', len(data))
except:
    print ('status_code:', response.status_code)

status_code: 404

In [36]:
# test 4 GET: con query_params inválidos

name = ''
last_name = ''
age = 'anything'

url = 'http://localhost:8000/api/v1/profiles/'
query = f'?name={name}&last_name={last_name}&age={age}'

response = requests.request(method='GET', url=url+query)

try:
    data = json.loads(response.content)
    print ('status_code:', response.status_code)
    print ('content:\n', response.content)
    print ('longitud:', len(data))
except:
    print ('status_code:', response.status_code)

status_code: 400

In [37]:
# test 1 POST: crear un registro

status = 1

while status != 201:

    new_id = random.randint(2, 1000)

    data = {'personal_id': new_id, 'name': 'Federico', 'last_name': 'Gris', 'age': 22}

    response = requests.request(method='POST', url='http://localhost:8000/api/v1/profiles/', data=data)

    status = response.status_code

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":"775","name":"Federico","last_name":"Gris","age":22,"profile_image":null}'
status_code: 201

In [38]:
# test 2 POST: sin data

data = {}

response = requests.request(method='POST', url='http://localhost:8000/api/v1/profiles/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":["Este campo es requerido."],"name":["Este campo es requerido."],"last_name":["Este campo es requerido."],"age":["Este campo es requerido."]}'
status_code: 400

In [39]:
# test 3 POST: con data inválida
data = {'personal_id': 'ABC', 'name': '123', 'last_name': '132', 'age': 'all'}

response = requests.request(method='POST', url='http://localhost:8000/api/v1/profiles/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":["Personal ID must be a number, not ABC"],"name":["Name must be a string, not 123"],"last_name":["Name must be a string, not 132"],"age":["Introduzca un n\xc3\xbamero entero v\xc3\xa1lido."]}'
status_code: 400

# SEGUNDO TEST: api/v1/profiles/\<pk\>/

Metodo GET: <br />
    - Test 1 | Con pk que existe: Devuelve el perfil<br />
    - Test 2 | Con pk que no es valido: Devuelve un error 400<br />
    - test 3 | Con pk que no existe: Devuelve un error 404<br />
<br />
Metodo PUT: <br />
    - Test 1 | Con pk que existe: Devuelve el perfil actualizado<br />
    - Test 2 | Con pk que no es valido: Devuelve un error 400<br />
    - Test 3 | Con pk que no existe: Devuelve un error 404<br />
    - Test 4 | Con data que no es valida: Devuelve un error 400<br />
    - Test 5 | Sin data: Devuelve un error 400<br />
<br />
Metodo DELETE: <br />
    - Test 1 | Con pk que existe: Devuelve un status 204<br />
    - Test 2 | Con pk que no existe: Devuelve un error 404<br />
    - Test 3 | Con pk que no es valido: Devuelve un error 400<br />

In [40]:
# test 1 GET: con pk válido

pk = new_id

response = requests.request(method='GET', url=f'http://localhost:8000/api/v1/profiles/{pk}/')

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":"775","name":"Federico","last_name":"Gris","age":22,"profile_image":null}'
status_code: 200

In [41]:
# test 2 GET: con pk inválido

pk = 'ABC'

response = requests.request(method='GET', url=f'http://localhost:8000/api/v1/profiles/{pk}/')

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 400

In [42]:
# test 3 GET: con pk inexistente

pk = 1001

response = requests.request(method='GET', url=f'http://localhost:8000/api/v1/profiles/{pk}/')

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 404

In [43]:
# test 1 PUT: con pk válido

pk = new_id

data = {'personal_id': '1', 'name': 'Federico', 'last_name': 'Gris', 'age': 22}

response = requests.request(method='PUT', url=f'http://localhost:8000/api/v1/profiles/{pk}/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":"1","name":"Federico","last_name":"Gris","age":22,"profile_image":null}'
status_code: 200

In [44]:
# test 2 PUT: con pk inválido

pk = 'ABC'

data = {'personal_id': '44655766', 'name': 'Federico', 'last_name': 'Gris', 'age': 22}

response = requests.request(method='PUT', url=f'http://localhost:8000/api/v1/profiles/{pk}/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 400

In [45]:
# test 3 PUT: con pk inexistente

pk = 1001

data = {'personal_id': '44655766', 'name': 'Federico', 'last_name': 'Gris', 'age': 22}

response = requests.request(method='PUT', url=f'http://localhost:8000/api/v1/profiles/{pk}/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 404

In [46]:
# test 4 PUT: con data inválida

pk = 1

data = {'personal_id': 'ABC', 'name': '123', 'last_name': '132', 'age': 'all'}

response = requests.request(method='PUT', url=f'http://localhost:8000/api/v1/profiles/{pk}/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":["Personal ID must be a number, not ABC"],"name":["Name must be a string, not 123"],"last_name":["Name must be a string, not 132"],"age":["Introduzca un n\xc3\xbamero entero v\xc3\xa1lido."]}'
status_code: 400

In [47]:
# test 5 PUT: sin data

pk = 1

data = {}

response = requests.request(method='PUT', url=f'http://localhost:8000/api/v1/profiles/{pk}/', data=data)

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b'{"personal_id":["Este campo es requerido."],"name":["Este campo es requerido."],"last_name":["Este campo es requerido."],"age":["Este campo es requerido."]}'
status_code: 400

In [48]:
# test 1 DELETE: con pk válido

pk = 1

response = requests.request(method='DELETE', url=f'http://localhost:8000/api/v1/profiles/{pk}/')

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 204

In [49]:
# test 2 DELETE: con pk inexistente

pk = 1001

response = requests.request(method='DELETE', url=f'http://localhost:8000/api/v1/profiles/{pk}/')

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 404

In [50]:
# test 3 DELETE: con pk inválido

pk = 'ABC'

response = requests.request(method='DELETE', url=f'http://localhost:8000/api/v1/profiles/{pk}/')

print ('content:\n', response.content)
print ('status_code:', response.status_code)

content:
 b''
status_code: 400