# DJANGO

Model: Profile

create automated users

In [1]:
import pandas as pd
# import requests
import json
from django_for_jupyter import init_django

In [2]:
init_django('django_project')

In [3]:
from rest_application.models import Profile
Profile.objects.all()

<QuerySet [<Profile: Alejandra Bordo, (20464260)>, <Profile: Pedro Rojo, (10217811)>, <Profile: Carola Naranja, (8163234)>, <Profile: Mario Amarillo, (28219272)>, <Profile: Carola Bordo, (16250004)>, <Profile: Sofia Naranja, (8849573)>, <Profile: Carola Amarillo, (9920210)>, <Profile: Mario Bordo, (52650007)>, <Profile: Jorge Naranja, (10692008)>, <Profile: Victoria Rojo, (55650009)>, <Profile: Mario Violeta, (43733322)>, <Profile: Pedro Bordo, (28120011)>, <Profile: Alejandra Gris, (10304436)>, <Profile: Pedro Amarillo, (49783327)>, <Profile: Agustin Amarillo, (24319292)>, <Profile: Agustin Rojo, (8163247)>, <Profile: Maria Verde, (5756569)>, <Profile: Mario Rojo, (7376209)>, <Profile: Victoria Naranja, (27159297)>, <Profile: Carola Bordo, (26160719)>, '...(remaining elements truncated)...']>

In [4]:
from rest_application.application_package.profile_generator import get_profile


profile = get_profile()

print (profile)

{'personal_id': 17165696, 'name': 'Pedro', 'last_name': 'Verde', 'age': 64}

# instanciate model 'Profile' and create new register

In [5]:
table = Profile

In [6]:
table.objects.create(
    personal_id=profile['personal_id'],
    name=profile['name'],
    last_name=profile['last_name'],
    age=profile['age']
    )

In [7]:
table.objects.all()

<QuerySet [<Profile: Alejandra Bordo, (20464260)>, <Profile: Pedro Rojo, (10217811)>, <Profile: Carola Naranja, (8163234)>, <Profile: Mario Amarillo, (28219272)>, <Profile: Carola Bordo, (16250004)>, <Profile: Sofia Naranja, (8849573)>, <Profile: Carola Amarillo, (9920210)>, <Profile: Mario Bordo, (52650007)>, <Profile: Jorge Naranja, (10692008)>, <Profile: Victoria Rojo, (55650009)>, <Profile: Mario Violeta, (43733322)>, <Profile: Pedro Bordo, (28120011)>, <Profile: Alejandra Gris, (10304436)>, <Profile: Pedro Amarillo, (49783327)>, <Profile: Agustin Amarillo, (24319292)>, <Profile: Agustin Rojo, (8163247)>, <Profile: Maria Verde, (5756569)>, <Profile: Mario Rojo, (7376209)>, <Profile: Victoria Naranja, (27159297)>, <Profile: Carola Bordo, (26160719)>, '...(remaining elements truncated)...']>

# Create multiple registers with a loop

In [8]:
for i in range(1000):
    profile = get_profile()
    try:
        table.objects.create(
            personal_id=profile['personal_id'],
            name=profile['name'],
            last_name=profile['last_name'],
            age=profile['age']
            )
    except:
        pass

In [9]:
type(table.objects.all())

django.db.models.query.QuerySet

In [10]:
from rest_application.application_package.notebook_tools import to_pandas

In [11]:
to_pandas(table)

     personal_id       name last_name  age
0       20464260  Alejandra     Bordo   60
1       10217811      Pedro      Rojo   73
2        8163234     Carola   Naranja   88
3       28219272      Mario  Amarillo   39
4       16250004     Carola     Bordo   65
...          ...        ...       ...  ...
2006    55334316      Pedro      Azul   20
2007    53734313       Juan   Violeta   26
2008    10218808      Maria     Bordo   73
2009     6720824     Carola   Naranja   95
2010    49784314      Mario      Azul   29

[2011 rows x 4 columns]